.user-card {
  width: 12rem;
  height: 15rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #fff;
}

.user-avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #777;
  }
}